body {
	background-color: #dab
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: calibri;
	background-color: blue;
	color: white;
	font-size: 50px;
}
h4, h2 {

	text-transform: capitalize;
	text-align: left;
	font-family: calibri;
	background-color: blue;
	color: white;
	font-size: 50px;
}
.form {
	background: white;
	margin:2px;
	padding-bottom: 3px;
	width:50%;
	border-radius: 10px;
	border:1px solid gold;
	height:200px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.logos img {
	width:100px;
	height:70px;
	border: 20%;
	border-bottom: 2px solid silver;
	border-radius: 50%;
}
#oau {
	color: rgba(23, 23, 167, 0.9);
	font-size: 40px;
}

input{

	width: 200px;
	height: 30px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;

}

input[type]{
	background: pink;
}

input[type=text]{
	background-color: red;
}

input[type=password]{
	background-color: aqua;
}

input[type=email]{
	background-color: #F4A;
}